.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    margin: 0 0 0 20px;
  }
}

h2 {
  font-weight: bold;
}

a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
}

.routes {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  order: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  i {
    font-size: 24px;
    color: var(--text-color);
  }
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.mobile-menu.open {
  width: 100%;
  opacity: 2;
}

.mobile-menu.open a {
  display: block;
  margin: 10px 0;
}

.switchDarkLightMode {
  order: 2;
  transition: transform 0.3s ease-in-out;

  i {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }
}

@media screen  and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .switchDarkLightMode {
    order: 0;
  }

  .routes {
    order: 2;

    a {
      display: none;
    }
  }

  h2 {
    font-size: 20px;
  }
}
